html {
    scroll-behavior: smooth;
}

/* Global Custom Style */
.cursor-default {
	cursor: default;
}
.text-limit-1 {
	overflow: hidden;
	word-break: break-all;
	display: -webkit-box;
	-webkit-line-clamp: 1; /* number of lines to show */
			line-clamp: 1; 
	-webkit-box-orient: vertical;
}
.text-limit-2 {
	overflow: hidden;
	word-break: break-all;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* number of lines to show */
			line-clamp: 2; 
	-webkit-box-orient: vertical;
}
/* End Global Custom Style */

/* Header Custom Style */
.navbar-brand .img-logo, .offcanvas-header .img-logo {
    max-height:32px
}
.navbar-nav .nav-item .nav-link svg {
	height: 12px;
	width: 12px;
	fill: #343f52;
	transition: fill .2s ease-in-out;
}
.navbar-nav .nav-item .nav-link:hover svg {
	fill: #7cb798;
}
@media (max-width: 991.98px) {
    .navbar-expand-lg .navbar-collapse .nav-link svg {
		fill: #fff !important;
	}
}
/* End Header Custom Style */

/* Portfolio Custom Style */
.portfolio {
    z-index: 10;
}
.portfolio figure, .portfolio.swiper-container .swiper figure {
    cursor: default;
}
.portfolio img, .portfolio.swiper-container .swiper img {
    object-fit: cover;
    height: auto !important;
    max-height: 300px;
}
/* End Portfolio Custom Style */

/* Skill Custom Style */
.skill-item .avatar {
    border-radius: 0;
    object-fit: contain;
}
.skill-item .progress-list .progress-title {
    line-height: 100%;
}
.skill-item .progress-list .progressbar svg {
    height: 0 !important;
}
/* Skill Custom Style */